body{
    background-color: black;
}
 .content-section{
    height: 100%;
    width: 600px;
    background-color: rgb(22, 21, 21);
    top: 0;
    bottom: 0;
    margin-left: 470px;
    position: fixed;
    color: antiquewhite;
    display: block;
}
.content-section .form-content{
    margin-left: 50px;
}
.content-section .button-section{
    margin-left: 50px;
    
}
.content-section .button-section button{
width: 200px;
height: 40px;
background-color: orangered;
color: aliceblue;
font-size: 20px;
border-radius: 5px;
}
.content-section .button-section button:hover{
    background-color: rgb(207, 101, 62);
    box-shadow: 0 0 10px white;
}
.content-section h2{
    font-size: 27px;
    margin-left: 47px;
}
label{
    font-size: medium;
}


.form-content,.button-ssection{
    height: 18%;
}
.form-content input{
    padding:14px 40px;
    border-radius: 6px; 
}


.form-content textarea{
    padding:14px 40px;
    border-radius: 6px; 
}

.form-content select{
    padding:10px 40px;
    border-radius: 6px; 
}
